@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* styles.css */

/* Styles for Name input */
.name-field {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 5px;
}

/* Styles for Phone input */
.phone-field {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin: 5px;
}

/* Styles for the submit button */
.submit-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}

/* Styles for the select dropdown */
.image-select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #28a745;
  border-radius: 5px;
  margin: 5px;
}

/* Styles for the download button */
.download-button {
  padding: 10px 20px;
  background-color: #ffc107;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #e0a800;
}
